@import url('https://fonts.googleapis.com/css2?family=Anton&family=Oswald:wght@300;700&display=swap');
/* BG color */
.bg-color-name-title {
    background-color: rgba(53, 40, 7, 0.51);
}

.ui-menu-color-home {
    background-color: blanchedalmond;
}
.ui-menu-color-about {
    background-color: blue;
}
.ui-menu-color-membership {
    background-color: red;
}
.ui-menu-color-contact {
    background-color: purple;
}
.ui-menu-color-home {
    background-color: blanchedalmond;
}
/* Heading Styling */
header {
    margin: 0;
}
.heading {
    margin-left: 50px;
}

.logo {
    background: url("../images/resume-pic.jpg");
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    min-height: 360px;
    transition: .5s ease-in-out;
    -moz-transition: all .5s ease-in-out;
    -webkit-transition: all .5s ease-in-out;
}
.name {
    font-family: "Anton", sans-serif;
    font-weight: bold;
    font-size: 46px;
    margin-top: 50px;
    color: #fff;
}
.title {
    font-family: "Oswald", sans-serif;
    font-weight: 300;
    font-size: 30px;
    margin-top: 20px;
    margin-bottom: 90px;
    color: #fff;
}