@import url('https://fonts.googleapis.com/css2?family=Anton&family=Oswald:wght@300;700&display=swap');
/* BG color */
.bg-color-name-title {
    background-color: rgb(0, 8, 163);
}
/* ul styling  */
.ui-menu-color-home {
    background-color: rgb(0, 8, 163);
}
.bg-color-three-reasons {
    background-color: #fff;
}
.bg-color-personal-info {
    background: blue;

}
.ui-menu-color-about {
    background-color: blue;
}
.ui-menu-color-membership {
    background-color: red;
}
.ui-menu-color-contact {
    background-color: purple;
}
/* Special paddings/margins/text */
h1,
h2,
h3,
h4 {
    margin: 0;
}
.uppercase {
    text-transform: uppercase;
}
.general-sub {
    font-family: "Oswald", sans-serif;
    font-weight: 400;
    color: rgb(255, 255, 255);
}
.inline-block {
    display: inline-block;
}
.row-table {
    display: table;
}
.section-column {
    display: table-cell;
    padding: 0 30px 30px;
    float: none;
}
.section-heading {
    font-family: "Oswald", sans-serif;
    font-weight: 300;
    margin-top: 25px;
    margin-bottom: 40px;
}
/* Heading Styling */
header {
    margin: 0;
}
.heading {
    margin-left: 50px;
}
/* FIX TRANSITION FOR IMG */
.logo {
    background: url("../images/resume-pic.jpg");
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    min-height: 360px;
    transition: .5s ease-in-out;
    -moz-transition: all .5s ease-in-out;
    -webkit-transition: all .5s ease-in-out;
}
.name {
    font-family: "Anton", sans-serif;
    font-weight: bold;
    font-size: 46px;
    margin-top: 50px;
    color: #fff;
}
.title {
    font-family: "Oswald", sans-serif;
    font-weight: 300;
    font-size: 30px;
    margin-top: 20px;
    margin-bottom: 90px;
    color: #fff;
}
.list-inline-item:not(:last-child) {
    margin: 0;
}
.menucontainer {
    font-size: 0;
}
#nav {
    margin: 0;
}
#nav li {
    font-size: 14px;
    padding: 0;
}
.menuitem {
    height: 120px;
    text-align: center;
    padding: 0;
}
.menuitem a {
    width: 100%;
    text-decoration: none;
    color: #fff;
    height: 120px;
}

.menuitem a i {
    padding-top: 22px;
    display: block;
    color: rgb(0, 8, 163);
    font-size: 22px;
}
.menuitem span {
    display: block;
    width: 100%;
    padding-top: 5px;
    text-align: center;
    text-transform: uppercase;
    font-size: 14px;
    font-weight: 600;
    letter-spacing: 2px;
}
/* Footer styling */

footer {
    background-color: rgb(0, 8, 163);
    color: rgb(255, 255, 255);
    min-height: 120px;
    margin: 0;
}

.course-pdf i {
    font-size: 18px;
    color: #fafafa;
    text-align: center;
    padding-left: 5px;
    transition: all 0.35s ease-in-out;
    -moz-transition: all 0.35s ease-in-out;
    -webkit-transition: all 0.35s ease-in-out;
    -o-transition: all 0.35s ease-in-out;
}
.course-pdf i:hover {
    color: rgb(162, 65, 65);
}

.social-links {
    padding-bottom: 15px;
}
.social-links li a i {
    width: 32px;
    height: 32px;
    padding: 12px 0;
    border-radius: 50%;
    font-size: 13px;
    line-height: 7px;
    text-align: center;
    color: rgb(0, 34, 184);
    background: rgb(255, 255, 255);
    transition: all 0.35s ease-in-out;
    -moz-transition: all 0.35s ease-in-out;
    -webkit-transition: all 0.35s ease-in-out;
    -o-transition: all 0.35s ease-in-out;
}
.social-links li a i:hover {
    background: black;
}

#footer-details {
    padding: 20px;
}
/* Three reasons */

.three-reasons-icon {
    font-size: 26px;
    color: blue;
}

.three-reasons-heading {
    margin-bottom: 15px;
}

/* Personal info */
.personal-info-item {
    margin-bottom: 20px;
    display: block;
    clear: both;
    
}
.personal-info-item .key,
.personal-info-item .value {
    padding-right: 8px;
    display: inline-block;
    
}

.personal-info-item .key p,
.personal-info-item .value p {
    margin: 0;
    color: #fff;
}

.personal-info-item .key {
    width: 30%;
    margin-right: 21px;
    padding-top: 2px;
    vertical-align: top;
}

.personal-info-item .key p {
    font-weight: 700;
}

.personal-info-item .value {
    position: relative;
    width: 60%;
}

/* Progress bar */
.progress {
    position: relative;
    line-height: 0.9;
    font-size: 1rem;
    height: 25px;
    margin-bottom: 4px;
}
.progress-type {
    position: absolute;
    left: 0px;
    font-weight: 400;
    padding: 3px 30px 2px 10px;
    color: #fafafa;
    background-color: rgb(0, 34, 184, 0.20)
}

.progress-section {
    margin: 40px 20px;
}

.hvr-radial-out::before {
    background: blue;
}